php_flag magic_quotes_gpc off
Options -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php

#RewriteRule ^product/([-a-z0-9]+)$ product.php?product=$1
#RewriteRule ^category/(\d+) ?category=$1 [QSA]