* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 980px;
	margin: auto;
}

.sidebar {
	float: left;
	width: 300px;
}

.content {
	float: left;
	width: 680px;
	margin: 0 0 50px;
}

ul {
	list-style: none;
}

.category ul {
	padding-left: 20px;
}

.pagination {
	margin: 20px;
	text-align: center;
}
.pagination a {
	border: 1px solid #ddd;
	padding: 6px 12px;
	text-decoration: none;
	background: #fff;
	color: #428eca;
}
.pagination a:nth-child(even) {
	border-left: none;
	border-right: none;
}
.pagination a:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination a:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #ddd;
}
.pagination a:hover {
	background:#eee;
}
.pagination .nav-active {
	background: #428eca;
	color: #fff;
	border-color: ;
}

.menu {
	margin: 0 0 20px;
}

.menu li {
	display: inline;
	margin: 0 20px 0 0;
}

.menu li a:hover {
	text-decoration: none;
}

/* comments */
.comments {
	margin: 20px;
	word-wrap: break-word;
}

.comment-content {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 10px 0 0;
	padding: 10px;
}

.comments ul {
	padding-left: 20px;
}

.comments .manager span {
	color: red;
}

/* Form */
.form p {
	margin-bottom: 20px;
}
.form label {
	width: 180px;
	float: left;
	color: #999;
	padding-top: 5px;
}
.form input {
	width: 400px;
}
.form textarea {
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	line-height: 150%;
}
.form input[type="checkbox"] {
	width: auto;
}

.form input, .form textarea, .form select {
	padding: 9px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	background: #FFF url('img/bg.jpg') left top repeat-x;
}

.form input:hover, .form textarea:hover, .form select:hover,
.form input:focus, .form textarea:focus, .form select:focus {
	border-color: #C9C9C9;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

button.open-form,
.form .submit input {
	width: auto;
	background: #617798;
	color: #FFF;
	padding: 9px 15px;
	border: 0;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
}
button.open-form:hover,
.form .submit input:hover {
	background: #2B415E;
}

.reply {
	cursor: pointer;
	color: #2B415E;
	text-decoration: underline;
}
.reply:hover {
	text-decoration: none;
}

#loader {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	opacity: .9;
}

#loader span {
	display: block;
	background: url(img/loader.gif);
	width: 128px;
	height: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -56px;
}

.new-comment {
	display: none;
	background-color: #dcdcdc;
}

#error-comment {
	color: red;
}

.auth {
	margin: 0 0 20px;
}

.auth label,
.auth input {
	width: auto;
	float: none;
	display: block;
}

.auth p {
	margin: 0;
}

p.submit {
	margin: 5px 0 0;
}

.error {
	padding: 5px;
	border: 1px dashed gray;
	background: #ffeded;
	color: #7f5354;
}

.ok {
	padding: 5px;
	border: 1px solid #adc092;
	background: #f0faf1;
	color: #58715e;
}

#fogot {
	display: none;
}